.hne-container {
  display: flex;
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content */
  height: 70vh;
  overflow: hidden;
  position: relative;
}

.parallax5 {
  background-image: url("/public/images/bnwk3e.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute; /* This ensures the parallax background covers the entire container */
  top: 0;
  left: 0;
  z-index: -1; /* This ensures the background stays behind the title */
}

.hne-title-container {
  text-align: center;
  margin-top: 20px;
}

.hne-title-divider {
  width: 100%;
  border: 0;
  height: 1px;
  background-color: var(
    --body-color
  ); /* Or color matching your navbar divider */
  margin: 10px 0;
}

.hne-title-subtext {
  color: var(--body-color); /* Adjust as needed */
}

.hne-title {
  color: var(--body-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.scroll-arrow {
  position: absolute;
  bottom: 2%; /* Adjust this value to move the arrow closer or farther from the bottom */
  left: 50%;
  transform: translateX(-50%); /* This centers the arrow horizontally */
}

.scroll-arrow img {
  width: 150px;
}

/* Optional: Bounce animation for the arrow */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}

/* Mobile Responsiveness */
@media (max-width: 767px) {
  .hne-title {
    font-size: 24px; /* Adjust as needed */
  }

  .hne-title-subtext {
    font-size: 24px; /* Adjust as needed */
  }

  .scroll-arrow img {
    width: 80px; /* Adjust as needed */
  }
}
