.home4-container {
  display: flex;
  flex-direction: column; /* This stacks the children vertically */
  align-items: center; /* Horizontally centers the content */
  justify-content: center; /* Vertically centers the content */
  height: 50vh;
  overflow: hidden;
  position: relative;
}
