.home4-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 20px 0;
  position: relative;
}

/* Modal Backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 10; /* Ensure it's above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Styling */
.modal {
  background-color: white;
  padding: 40px 20px 20px; /* Increased top padding */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 11; /* Above the backdrop */
  color: black; /* Ensure text is black */
  position: relative;
}

/* Style for text inside the modal */
.modal p {
  color: black; /* Black text for paragraphs */
}

/* Close Button Styling */
/* Close Button Styling */
.modal button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #dc0209; /* Red background */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #a20207;
}

/* Custom FullCalendar styles */
.fc-event-title, /* Event title text */
.fc-event-time, /* Event time text */
.fc-daygrid-event .fc-event-title /* Title text in day grid view */ {
  color: black !important; /* Black text color */
}

.fc .fc-day-today, /* Current day */
.fc .fc-daygrid-day-top, /* Day number in month view */
.fc .fc-col-header-cell-cushion {
  /* Day name in headers */
  color: black !important; /* Red text color for header and current day */
}

/* Change background color of the current day to red */
.fc .fc-day-today {
  background-color: rgba(var(--body-button-rgb), 0.5) !important;
}

/* Optionally, adjust padding or margins to fine-tune the position */
.fc .fc-toolbar.fc-header-toolbar {
  padding-right: 5%; /* Adjust this value as needed */
  padding-left: 5%; /* Adjust this value as needed */
}

/* Style adjustments for mobile view */
@media (max-width: 767px) {
  /* Optionally, adjust padding or margins to fine-tune the position */
  .fc .fc-toolbar.fc-header-toolbar {
    padding-right: 0%; /* Adjust this value as needed */
    padding-left: 0%; /* Adjust this value as needed */
  }

  /* Adjust the styling of FullCalendar for mobile if needed */
}

/* Other custom styles if needed */
