.iwt-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  padding: 0 15%;
}

.iwt-image {
  max-width: 50%;
  height: auto;
}

.iwt-text-content {
  max-width: 40%;
  padding: 20px;
}

.iwt-title {
  color: var(--body-text);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.iwt-description {
  color: var(--body-text);
  font-size: 1.2rem;
}

.image-right {
  flex-direction: row-reverse;
}

/* Mobile Responsiveness */
@media (max-width: 1024px) {
  .iwt-container {
    flex-direction: column; /* Stack children vertically */
    padding: 0 10%; /* Reduce padding */
    margin-top: 5%;
    height: auto;
  }

  .iwt-image,
  .iwt-text-content {
    width: 100%;
    max-width: 100%; /* Allow both image and text content to take full width */
  }

  .iwt-title {
    font-size: 1.2rem; /* Adjust font size */
  }

  .iwt-description {
    font-size: 1rem; /* Adjust font size */
  }

  .image-right {
    flex-direction: column; /* Ensure image is on top even if imageOnRight is true */
  }
}
