.iwt-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60vh; /* Keep the container height relative to the viewport height */
  padding: 0 15%;
}

.iwt-image {
  flex: 0 0 auto; /* Adjust this to prevent stretching */
  width: 30vw; /* Use viewport width for responsive sizing */
  height: 30vw; /* Same as width to maintain the circle */
  object-fit: cover; /* Ensures images cover the area without being stretched */
  border-radius: 50%; /* Makes the image circular */
  max-width: 500px; /* Maximum size */
  max-height: 500px; /* Maximum size */
}

.iwt-text-content {
  flex: 1; /* Gives equal space to the text content as the image */
  padding: 20px;
}

.iwt-title {
  color: var(--body-text);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.iwt-description {
  color: var(--body-text);
  font-size: 1.2rem;
}

.image-right {
  flex-direction: row-reverse;
}

.imagewithtext:last-child {
  padding-bottom: 50px; /* Adjust this value as needed */
}

/* Mobile Responsiveness */
@media (max-width: 1024px) {
  .iwt-container {
    flex-direction: column; /* Stack children vertically */
    padding: 0 10%; /* Reduce padding */
    margin-top: 5%;
    height: auto;
  }

  .iwt-image {
    width: 50vw; /* Adjust size for smaller screens */
    height: 50vw; /* Keep it equal to width */
    max-width: 300px; /* Adjust maximum size for smaller screens */
    max-height: 300px; /* Adjust maximum size for smaller screens */
  }

  .iwt-text-content {
    width: 100%; /* Allow text content to take full width */
  }

  .iwt-title {
    font-size: 1.2rem; /* Adjust font size */
  }

  .iwt-description {
    font-size: 1rem; /* Adjust font size */
  }

  .image-right {
    flex-direction: column; /* Ensure image is on top even if imageOnRight is true */
  }
}
