.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-logo {
  width: 30%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.navbar-logo:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: var(--body-color);
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s, text-decoration 0.3s;
}

.navbar-links a:hover {
  color: var(--body-button); /* Change text color on hover */
  text-decoration: underline;
  transition: background-color 0.3s, color 0.3s, text-decoration 0.3s;
}
