.nmtinfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.marae-rep-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc; /* Example styling */
  color: var(--body-text);
}

.nmtinfo-title {
  color: var(--body-text);
}

.marae-name {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

.rep-details {
  margin-bottom: 15px;
  padding-left: 10px;
}

/* For larger screens */
@media (min-width: 768px) {
  .marae-reps-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    gap: 20px;
    justify-content: center; /* Center the grid itself */
  }
}
